@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@100;400;700&family=Poppins:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de tema centralizadas (light/dark/system) */
@import './themes.css';

body {
  font-family: 'Figtree', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .pt-safe {
    padding-top: calc(var(--navbar-height) + 1rem); 
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.streak {
  position: relative;
}

.streak::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px; /* Ajusta el tamaño del punto */
  height: 4px; /* Ajusta el tamaño del punto */
  background-color: green; /* Color del punto */
  border-radius: 50%; /* Hace que sea redondo */
}

.dias {
  position: relative;
  right: -20%;
  color: green;
}